

.ant-layout-content {
    padding: 0px;
}

::ng-deep app-login {
    .main-section {
        display: flex;
        height: 100vh;
        // min-height: calc(100vh - 42px);

        .left-section,
        .right-section,
        .mobile-section {
            .section-inner {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
        }

        .left-section {
            position: relative;

            .section-inner {
                .compay-desc {
                    z-index: 1;
                    height: inherit;
                    display: flex;
                    flex-direction: column;
                }
            }

            .bg-cover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
            }
        }

        .right-section {
            .section-inner {
                .compay-desc {
                    z-index: 1;
                    height: inherit;
                    display: flex;
                    flex-direction: column;
                }
            }

            .bg-cover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
                filter: grayscale(1);
            }
        }

        .mobile-section {
            position: relative;

            .section-inner {
                .compay-desc {
                    z-index: 1;
                    height: inherit;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .bg-cover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
            }
        }
    }
}